/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Tutorial Case

   Survey Forms Style Sheet
   Author: Juozas   
   Date:   Kripas

   Filename:         forms.css
   Supporting Files: customer.png, go.png, stop.png

*/


/*Field Set Rules*/
fieldset{
    background-color: rgb(255,246,205);
    border: 1px solid rgb(233,69,0);
    float: left;
    margin: 10px 0px 10px 2.5%;
    width: 46%;
    
}
/*FIeld Set Legend Rules*/
legend{
    background-color: rgb(233,69,0);
    color: white;
    padding: 2px 0px;
    text-indent: 5px;
    width: 100%;
}

/*Label Styles*/
label{
    clear: left;
    display: block;
    float: left;
    font-size: 0.9em;
    margin: 7px 4% 7px 5px;
    width: 40%;
}

/*Input Control Styles*/
input{
    display: block;
    float: left;
    font-size: 0.9em;
    margin: 7px 0px;
    width: 50%;
}
/*Reducing the State field input control*/
input#state{
    width: 50px;
}

/*Selection List styles*/
select{
    display: block;
    float: left;
    font-size: 0.9em;
    margin: 7px 0px;
}

/*Option button styles*/
fieldset.optionGroup{
    border-width: 0px;  /*Taking away the border*/
}
fieldset.optionGroup label{
    display: inline;
    float: none;    /*stop floating left in order to show labels side by side*/
    margin: 0px 3px 0px 0px;                /*instead of on top of each other*/
    width: 30px;
}
fieldset.optionGroup input{
    display: inline;
    float: none;
    margin: 0px 20px 0px 0px;
    width: 20px;
}